* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0634;
}

a {
  text-decoration: none;
}

/**Navegacion**/
.nav {
  background-color: rgba(244, 244, 244, 0.32);
  height: 80px;
  color: #fff;
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__container .nav__logo {
  padding: 1.5rem;
}

.nav__container .nav__label, .nav__container .nav__input {
  display: none;
}

.nav__container .nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

.nav__container .nav__menu .nav__item {
  color: #fff;
  text-decoration: none;
  font-family: "Staatliches", cursive;
}

.nav__container .nav__menu .nav__item-active {
  text-decoration: underline;
  color: #fd7aef;
  font-family: "Staatliches", cursive;
}

/*Portada*/
.portada__home {
  background-image: url("../img/fondo estrella transparente.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*Contenido*/
.contenido__home {
  margin-left: 8rem;
}

h1 {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  padding: 2rem;
  width: 500px;
  margin-top: 10rem;
}

span {
  background: linear-gradient(90deg, #0066ff 23.8%, #ff3cf7 101.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  width: 300px;
  margin-left: 2rem;
}

.astronauta__home {
  padding-top: 10rem;
}

/*Servicios*/
.home__servicios__titulo {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
}

.home__servicios {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/**Customers Home**/
.home__customers__titulo {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  margin-top: 9rem;
}

.home__customers__satelite {
  float: right;
}

.home__customers__logo {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 30rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 100%;
  align-items: center;
}

.home__customers__logo .moneris {
  height: 100%;
}

/*Footer*/
.imagen__footer {
  background-image: url("../img/luna footer (2).png");
  height: 200px;
  background-size: cover;
  margin-top: 12rem;
}

.grupo__footer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
}

.box__follow {
  text-align: center;
}

.box__follow h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Staatliches", cursive;
}

.logo__redes a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  border-radius: 5px;
}

.box__imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton__footer a {
  background-color: #3D00BE;
  border-radius: 5px;
  font-family: "Staatliches", cursive;
  color: #fff;
  padding: 1rem;
}

.boton__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*About us*/
.about__portada {
  background-image: url("../img/portada about us.jpg");
  background-size: cover;
  height: 700px;
}

.about__titulo {
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
  text-align: center;
  padding-top: 10rem;
  color: #fff;
}

/**Contenido**/
.about__contenido {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
}

.about {
  display: flex;
  padding: 10rem;
  gap: 10rem;
  align-items: center;
}

.values__titulo {
  color: white;
  font-family: 'Staatliches', cursive;
  font-size: 2rem;
  font-style: normal;
  margin-top: 5rem;
  text-align: center;
}

.lista {
  display: flex;
  justify-content: center;
  gap: 15rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.lista1, .lista2, .lista3 {
  margin-top: 5rem;
}

li {
  padding-bottom: 10px;
}

/*Services*/
.services__portada {
  background-image: url("../img/portada servicios2.jpg");
  background-size: cover;
  height: 700px;
}

.services__titulo {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  text-align: center;
  padding-top: 10rem;
  color: #000;
}

/**Contenido**/
.contenedor {
  width: 100%;
  display: flex;
  max-width: 2000px;
  margin-top: 10rem;
  justify-content: center;
}

.card__services {
  width: 100%;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
}

.card__services img {
  width: 100%;
}

.card__services:hover {
  transform: translateY(-3%);
}

.contenido__card {
  padding: 15px;
  text-align: center;
}

.contenido__card p {
  line-height: 1.5;
  color: #6a6a6a;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido__card h4 {
  font-family: "Staatliches", cursive;
  font-weight: 100;
}

.contenido__services {
  text-align: center;
  color: #fff;
  margin-top: 10rem;
}

.contenido__services p {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 3rem;
}

.contenido__services ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.tecnologias {
  margin-top: 10rem;
  text-align: center;
}

.tecnologias p {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 3rem;
}

/*Openings*/
.Portada__openings {
  background-image: url("../img/portada opening.jpg");
  background-size: cover;
  height: 700px;
}

.Titulo__openings {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  text-align: center;
  padding-top: 10rem;
  color: #000;
}

.contenedor__openings {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 2rem;
  justify-content: center;
  overflow: hidden;
}

.Contenido__card__openings {
  width: 300px;
  height: 110px;
  margin: 40px;
  border-radius: 6px;
  background: #fff;
}

.Contenido__card__openings h4 {
  font-family: "Staatliches", cursive;
  font-weight: 100;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.Contenido__card__openings h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.Ubicacion {
  display: flex;
  margin-left: 1.3rem;
  align-items: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}

.Ubicacion svg {
  height: 28px;
}

.Detalles {
  display: flex;
  align-items: flex-end;
}

.Detalles svg {
  height: 20px;
}

/*Contact*/
.Portada__contact {
  background-image: url("../img/portada contact.jpg");
  background-size: cover;
  height: 700px;
}

.Titulo__contact {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  text-align: center;
  padding-top: 10rem;
  color: #fff;
}

.contacto {
  display: flex;
  padding-top: 10rem;
}

.formulario {
  padding-left: 10rem;
}

.formulario fieldset {
  border: none;
  width: 100%;
}

.formulario legend {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: #0066ff;
  padding-bottom: 2rem;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: #fff;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: .5rem;
  display: block;
}

.campo input,
.campo textarea {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  width: 500px;
  padding: 1rem;
  border-radius: 5px;
}

.enviar {
  background: #3D00BE;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  cursor: pointer;
  padding: .5rem;
  border: none;
  color: #fff;
  border-radius: 5px;
}

/**Laptop**/
@media screen and (max-width: 1024px) {
  /**Nav**/
  .nav__container .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__container .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: #2c1362;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }
  /**Home**/
  .portada__home {
    height: 1000px;
  }
  .astronauta__home {
    max-height: 550px;
  }
  .home__servicios__titulo {
    text-align: center;
  }
  .home__servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .tecnologias img {
    width: 900px;
  }
  /**About us**/
  .about__titulo {
    font-size: 4rem;
    color: #000;
    padding-top: 12rem;
  }
  .about__contenido {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .about__contenido p {
    height: 300px;
    width: 100%;
  }
  .about__imagen {
    width: 400px;
  }
  .lista {
    gap: 10rem;
  }
  /**Openings**/
  .contenedor__openings {
    padding-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 2rem;
  }
  .Contenido__card__openings {
    margin: auto;
    overflow: hidden;
  }
  /**Work with us**/
  .contacto img {
    height: 350px;
  }
  .campo input,
  .campo textarea {
    padding: .8rem;
    width: 300px;
    text-align: center;
  }
}

/**Tablet**/
@media screen and (max-width: 768px) {
  /**header**/
  .header {
    background-color: rgba(244, 244, 244, 0.32);
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .header__logo {
    padding: 0%;
  }
  .header__list {
    display: flex;
  }
  .header__item {
    list-style: none;
    padding: 1rem;
  }
  /**Home**/
  .portada__home {
    background-image: url("../img/fondo estrella transparente.png");
    background-size: cover;
    height: 1300px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .astronauta__home {
    height: 700px;
    margin: auto;
    padding-top: 0rem;
  }
  .home__servicios__titulo {
    font-size: 1.5rem;
    margin-top: 7rem;
    text-align: center;
  }
  .home__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .home__servicios img {
    width: 700px;
    margin-top: 4rem;
  }
  .home__customers__titulo {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 8rem;
  }
  .satelite {
    width: 500px;
    margin-top: 2rem;
  }
  .home__customers__logo {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .home__customers__logo .ace {
    height: 90px;
  }
  .home__customers__logo .fansbury {
    height: 90px;
  }
  .home__customers__logo .moneris {
    height: 60px;
  }
  .home__customers__logo .exentia {
    height: 90px;
  }
  /**About us**/
  .about__titulo {
    font-size: 4rem;
    color: #000;
    padding-top: 11rem;
  }
  .about__contenido {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0rem;
    align-items: center;
  }
  .about__imagen {
    width: 600px;
  }
  .titulo__values {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 7rem;
    padding-left: 0%;
  }
  .lista {
    gap: 6rem;
  }
  /**Services**/
  .card__services {
    width: 100%;
    margin: 20px;
  }
  .contenido__services p {
    font-size: 1.5rem;
  }
  .tecnologias p {
    font-size: 1.5rem;
    font-style: normal;
  }
  .tecnologias img {
    max-width: 700px;
  }
  /**Openings**/
  .contenedor__openings {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 2rem;
    overflow: hidden;
  }
  .Contenido__card__openings {
    margin: auto;
    overflow: hidden;
  }
  /**Work with us**/
  .contacto {
    display: flex;
    padding-top: 6rem;
  }
  .contacto img {
    height: 300px;
  }
  .formulario {
    padding: 5rem;
  }
  .formulario legend {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .campo label {
    font-size: 1rem;
  }
  .campo input,
  .campo textarea {
    padding: .8rem;
    width: 300px;
  }
  .enviar {
    font-size: 1rem;
    padding: .5rem;
  }
}

/**Mobile**/
@media screen and (max-width: 425px) {
  /**header**/
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__item {
    list-style: none;
  }
  /**home**/
  .portada__home {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contenido__home {
    margin-left: 0rem;
    text-align: center;
    width: 100%;
  }
  h1 {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    width: 100%;
    margin-top: 5rem;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .astronauta__home {
    max-height: 400px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .home__servicios__titulo {
    font-size: 1.2rem;
    margin-top: 10rem;
    text-align: center;
  }
  .home__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .home__servicios img {
    max-width: 400px;
    margin-top: 4rem;
  }
  .home__customers__titulo {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 8rem;
  }
  .home__customers__satelite {
    width: 400px;
    margin-top: 2rem;
  }
  .home__customers__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .home__customers__logo .ace {
    height: 120px;
  }
  .home__customers__logo .fansbury {
    height: 120px;
  }
  .home__customers__logo .moneris {
    height: 70px;
  }
  .home__customers__logo .exentia {
    height: 120px;
  }
  /**Footer**/
  .imagen__footer {
    height: 210px;
    background-size: cover;
    margin-top: 8rem;
  }
  .grupo__footer {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;
  }
  .logo__redes a {
    margin-bottom: 1rem;
  }
  /**About us**/
  .about__portada {
    height: 500px;
  }
  .about__titulo {
    font-size: 2rem;
    color: #000;
  }
  .about__contenido {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0rem;
    align-items: center;
  }
  .about__imagen {
    width: 80%;
  }
  .titulo__values {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 7rem;
    padding-left: 0%;
  }
  .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .lista1, .lista2, .lista3 {
    margin-top: 3rem;
  }
  li {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
  /**Services**/
  .services__portada {
    height: 500px;
  }
  .services__titulo {
    font-size: 2rem;
  }
  .contenedor {
    width: 100%;
    display: block;
    max-width: 425px;
    margin-top: 0rem;
  }
  .card__services {
    width: auto;
  }
  .contenido__services {
    margin-top: 6rem;
  }
  .contenido__services p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .contenido__services ul {
    text-align: center;
    list-style: none;
  }
  .tecnologias {
    margin-top: 6rem;
  }
  .tecnologias p {
    font-size: 1.2rem;
    font-style: normal;
  }
  .tecnologias img {
    max-width: 90%;
  }
  /**Opening**/
  .Portada__openings {
    height: 500px;
  }
  .Titulo__openings {
    font-size: 2rem;
  }
  .contenedor__openings {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .Contenido__card__openings {
    margin: auto;
    overflow: hidden;
  }
  /**Work with us**/
  .Portada__contact {
    height: 500px;
  }
  .Titulo__contact {
    font-size: 2rem;
    padding-top: 14rem;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
  }
  .contacto img {
    width: 300px;
  }
  .formulario {
    padding: 1rem;
  }
  .formulario legend {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .campo label {
    font-size: 1rem;
  }
  .campo input,
  .campo textarea {
    width: 100%;
    padding: .8rem;
  }
  .enviar {
    font-size: 1rem;
    padding: .5rem;
  }
}

@media screen and (max-width: 320px) {
  .li {
    text-align: center;
  }
}
