/*About us*/

.about__portada {
    background-image: url("../img/portada\ about\ us.jpg");
    background-size: cover;
    height: 700px;    
}

.about__titulo{
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 10rem; 
    color: #fff; 
}

/**Contenido**/
.about__contenido {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-around;
}

.about {
    display: flex;
    padding: 10rem;
    gap: 10rem;
    align-items: center;
}

.values__titulo {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    font-style: normal;
    margin-top: 5rem;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 15rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 5rem;    
}
.lista1, .lista2, .lista3 {
    margin-top: 5rem;
}
li {
    padding-bottom: 10px;
}



