/**Navegacion**/
.nav {
    background-color: rgba(244, 244, 244, 0.32);
    height: 80px;
    color: #fff;
    &__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            padding: 1.5rem;
        }
        .nav__label, .nav__input{
            display: none;
        }
        .nav__menu{
            display: grid;
            grid-auto-flow: column;
            gap: 3rem;
            z-index: 9;
            .nav__item{
                color: #fff;
                text-decoration: none;
                font-family: $fuente-principal;
                &-active{
                    text-decoration: underline;
                    color: #fd7aef;
                    font-family: $fuente-principal;
                }
            }
        }
    
    }
}






