/*Services*/
.services__portada{
    background-image: url("../img/portada\ servicios2.jpg");
    background-size: cover;
    height: 700px;  
}
.services__titulo {
    font-family: $fuente-principal;
    font-size: 4rem;
    text-align: center;
    padding-top: 10rem; 
    color: $color-negro; 
}

/**Contenido**/
.contenedor {
    width: 100%;
    display: flex;
    max-width: 2000px;
    margin-top: 10rem; 
    justify-content: center; 

}
.card__services {
    width: 100%;
    margin: 40px;
    border-radius: 6px;
    overflow: hidden;
    background: $color-blanco;     
}
.card__services img{
    width: 100%;
}
.card__services:hover {
    transform: translateY(-3%);
}
.contenido__card {
    padding: 15px;
    text-align: center;
}
.contenido__card p {
    line-height: 1.5;
    color: #6a6a6a;
    font-family: $fuente-secundaria;
}
.contenido__card h4 {
    font-family: $fuente-principal;
    font-weight: 100;
}
.contenido__services {
    text-align: center;
    color: $color-blanco;
    margin-top: 10rem;
}
.contenido__services p {
    color: $color-blanco;
    font-family: $fuente-principal;
    font-size: 2rem;
    font-style: normal;
    margin-bottom: 3rem;
}
.contenido__services ul {
    font-family: $fuente-secundaria;
    font-size: 1rem;
}
.tecnologias {
    margin-top: 10rem;
    text-align: center;
}
.tecnologias p {
    color: $color-blanco;
    font-family: $fuente-principal;
    font-size: 2rem;
    font-style: normal;
    margin-bottom: 3rem;
}
